<style>
  html,
  body {
    padding: 0;
    margin: 0;
  }

  div {
    display: flex;
    gap: 0.5rem;
  }

  table {
    width: 100vw;
  }

  input,
  select {
    width: 100%;
  }

  input[type=button] {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-grid;
    place-items: center;
  }
</style>
<script src="https://unpkg.com/vue@3"></script>
<article>
  <div>
    <button type="button" @click="newColumn">New Column</button>
    <button type="submit" @click.prevent="save">Save</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Index</th>
        <th>Nullable</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(column, index) in columns">
        <td>
          <input v-model="column.name" type="text" />
        </td>
        <td>
          <select v-model="column.type">
            <option value="integer">Integer</option>
            <option value="varchar">Var Char</option>
          </select>
        </td>
        <td>
          <select v-model="column.keyType">
            <option value="primary">Primary</option>
            <option value="unique">Unique</option>
            <option value="index">Simple</option>
            <option value="normal">None</option>
          </select>
        </td>
        <td>
          <input v-model="column.nullable" type="checkbox" />
        </td>
        <td>
          <input type="button" @click="remove(index)" value="-" />
        </td>
      </tr>
    </tbody>
  </table>
</article>
<script>
  Vue.createApp({
    data() {
      return {
        columns: [],
      }
    },
    mounted() {
      addEventListener("message", (event) => {
        this.columns = event.data.pluginMessage
      })
    },
    methods: {
      newColumn() {
        this.columns.push({
          name: null,
          type: "integer",
          keyType: "normal",
          nullable: false,
        })
      },
      save() {
        parent.postMessage({
          pluginMessage: JSON.stringify(this.columns),
        }, "*")
      },
      remove(index) {
        this.columns.splice(index, 1)
      },
    },
  }).mount("article")
</script>